################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XMLToPDFCreator/FileContentIndex/b35a5690-1fb3-420a-a6bf-25b80d205415.vsidx
/.vs/XMLToPDFCreator/FileContentIndex/894781bb-523e-4abe-b315-77cc7c20389c.vsidx
/.vs/XMLToPDFCreator/FileContentIndex/ddb1adfb-b66a-4d33-8dcd-68f3ca55d4c5.vsidx
