################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XMLToPDFCreator/FileContentIndex/b35a5690-1fb3-420a-a6bf-25b80d205415.vsidx
